* {padding: 0; margin: 0}

:root{
    /* Váriaveis de cores */
    --base_branco: white;
    --base_preto: black;
    --destaque: crimson;

    /* Váriaveis de fonte */
    --fonte_principal: sans-serif;
    --fonte_secundaria: times;
}

@keyframes hoover{
    /* Animação da Barra de Navegação */
    from {}
    to {color: var(--destaque);}
}

/* Barra de Navegação */
.navegacao{
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
}
.navegacao nav {
    background-color: var(--base_preto);
    display: flex;
    align-items: center;
}
/* Estilização dos Links */
.navegacao a{
    font-family: var(--fonte_principal);
    font-size: x-large;
    text-decoration: none;
    color: var(--base_branco);
    margin-left: 2%;
}
.navegacao a:hover{ /* animação dos links */
    animation-name: hoover;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

/* Banner INDEX.HTML */
.banner{
    /* ajuste do fundo */
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(imagens/fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: auto;
    color: var(--base_branco);
    padding: 3em;
    margin: 0;

    box-shadow: /* sombra */
    0px 0px 0.18rem hsl(0deg 0% 20% / 0.30),
    0px 0px 0.42rem hsl(0deg 0% 20% / 0.30),
    0px 0px 0.78rem hsl(0deg 0% 20% / 0.30),
    0px 0px 1.5rem hsl(0deg 0% 20% / 0.30);
}
.banner h1{
    font-size: 6vw;
    font-family:var(--fonte_secundaria);
    padding-left: 5%;
    display: inline;
    cursor: default;
}
.banner span{
    font-size: 1.5vw;
    padding-left: 1%;
}
.banner p{
    font-size: 2vw;
    text-align: center;
}
.banner h1:active{ /* animação do título */
    animation-name: hoover;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}