* {padding: 0; margin: 0}

:root{
    /* Váriaveis de cores */
    --base_branco: white;
    --base_preto: black;
    --destaque: crimson;

    /* Váriaveis de fonte */
    --fonte_principal: sans-serif;
    --fonte_secundaria: times;
}

@keyframes hoover{
    /* Animação da Barra de Navegação */
    from {}
    to {color: var(--destaque);}
}

/* Barra de Navegação */
.navegacao{
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;

    box-shadow: /* sombra */
    0px 0px 0.18rem hsl(0deg 0% 20% / 0.30),
    0px 0px 0.42rem hsl(0deg 0% 20% / 0.30),
    0px 0px 0.78rem hsl(0deg 0% 20% / 0.30),
    0px 0px 1.5rem hsl(0deg 0% 20% / 0.30);
}
.navegacao nav {
    background-color: var(--base_preto);
    display: flex;
    align-items: center;
}
/* Estilização dos Links */
.navegacao a{
    font-family: var(--fonte_principal);
    font-size: x-large;
    text-decoration: none;
    color: var(--base_branco);
    margin-left: 2%;
}
.navegacao a:hover{ /* animação dos links */
    animation-name: hoover;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

/* Estilização de conteúdo */
.conteudo{
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    font-size: medium;
    font-family: var(--fonte_principal);
}
.conteudo h1{
    font-family: var(--fonte_secundaria);
    font-size: 3em;
    text-align: center;
}
.capitular{
    display: inline;
    font-family: var(--fonte_secundaria);
    font-size: 2em;
    color: var(--destaque);
}


/* Banner INDEX.HTML */
.banner{
    /* ajuste do fundo */
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url(imagens/fundo-cores.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: auto;
    color: var(--base_branco);
    padding: 3em;
    margin: 0;
}
/* Responsividade da fonte */
@media screen and (max-width: 800px) {
    .banner h1{ font-size: 5vw;}
    .banner span{ font-size: 1.5vw;}
    .banner p{ font-size: 2vw;}
}
@media screen and (min-width: 801px){
    .banner h1{ font-size: 6vw;}
    .banner span{ font-size: 1.5vw;}
    .banner p{ font-size: 2vw;}
}
/* Outras configurações do texto */
.banner h1{
    font-family:var(--fonte_secundaria);
    padding-left: 5%;
    display: inline;
    cursor: default;
}
.banner span{
    padding-left: 1%;
}
.banner p{
    text-align: center;
}
.banner h1:active{ /* animação do título */
    animation-name: hoover;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

/* Estilização dos 10 mandamentos */
.mandamentos{
    background-color: var(--base_preto);
    color: var(--base_branco);
    padding: 3vw;
    text-align: center;
}
.mandamentos h1{
    font-family: var(--fonte_secundaria);
    font-size: 3em;
}
.mandamentos ul{
    display: inline-block;
    text-align: left;
    margin: 1vw;
    list-style: none;
    font-family: var(--fonte_principal);
    font-size: 2em;
}